/* Grid variables */
.container-fluid,
.container {
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.grid {
    display: grid;
}

.grid-inline {
    display: inline-grid;
}

@define-function size($val) {
    @return calc(100% / 60 * $val)
}
